.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    z-index: 10;
    background: transparent;
    position: sticky;
}
.logo{
    margin: 40px;
    height: 86px;
    width: 286px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.links{
    margin: 30px;
    /* color: #869174; */
    color: #725C3A;
    cursor: pointer;
    position: relative;
    padding: 0.5rem 0;
    text-decoration: none;
    transition: color 0.3s;
}

.links:hover{
    color: #869174;
    transition: 0.5s ease;
}

.links.active {
 
  border-bottom:none; 
  color: #6C8C6B;
  
}
.links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #869174;
    transition: width 0.3s ease-in-out;
}
.links:hover::after {
    width: 100%;
}