.footer-container {
    background-color: #B3B792;
    height: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* font-family: "FuturaHvBTHeavy"; */
    font-size: 18px;
    /* font-weight: bold; */
}

.mobile-layout{
    display: none;
}
.footer-subcontainer {
    height: 250px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.copyright-text {
    height: 30px;
    width: 50%;
    text-align: center;
}

.footer-subsection {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.footer-logo {
    width: 336px;
    transform: translateX(-19px);
}

li {
    list-style: none;
    height: 35px;
    margin-bottom: 0.5rem;
}

.site-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    /* width: 25%; */
}

.site-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25% !important;
    margin-top: 20px;
}

.contact-section-link {
    display: flex;
}

.contact-icon {
    height: 28px;
    width: 28px;
    margin-right: 1rem;
}

.footer-link:hover {
    cursor: pointer;
    color: #2b4402;
    -webkit-transition: color 1s ease;
    transition: color 1s ease;
}



.service-logo {
    height: 22px !important;
    width: 22px !important;
    cursor: pointer;
    margin-right: 1rem;
}

.footer-link-about {
    margin-right: 10px;
}

.footer-link-about:hover {
    cursor: pointer;
    color: #2b4402;
    -webkit-transition: color 1s ease;
    transition: color 1s ease;
}

@media (max-width:1200px) {
  .footer-subcontainer
  {
    display: none;
  }
  .copyright-text{
    display: none;
  }

  .mobile-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .mobile-footer-section{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile-footer-logo{
    width: 66%;
    /* margin-left: 40px; */
  }
  .mobile-footer-text{
    width: 75%;
    text-align: center;
  }

  .mobile-footer-contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* width: 80%; */
    margin-bottom: 1rem;
  }

  .mobile-copyright-text{
    font-size: 12px;
    text-align: center;
    margin: 1rem;
  }
}

@media (max-width:780px) {
    .footer-container {
        font-size: 15px;
    }

    .mobile-footer-logo {
        width: 80%;
        /* margin-left: 40px; */
    }
}
