.hero-services-container
{
    display: flex;
    justify-content:space-evenly;
    min-height: 400px;
    width: 100%;
    position: relative;
    transform: scale(85%);
}
.hero-service-img
{
    height: 100px;
    width: 100px;
    margin: 2.5rem auto;
}

.hero-service-heading
{
    font-size: 30px;
    height: 12%;
    text-align: center;
    margin: 10px 0;
    color: #725C3A;
}
.hero-service-text
{
    font-size: 20px;
    color: #725C3A;
    text-align: center;
    height: 40%;
    line-height: 1.8em;
   
}
.service-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30%;
    height: 60%;
    margin-bottom: 2rem;
}

.divider{
    height: 52%;
    width: 2px;
    margin: 0 0.5%;
    background-color: #869174;
}

.divider-container-0{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    position: absolute;
    top: 0;
    left: 33.75%;
}

.divider-container-1 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    position: absolute;
    top: 0;
    right: 33.75%
}

.sectionHeader{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #725C3A;
    font-size: 36px;
        /* height: 5%; */
}

@media only screen and (min-width: 1920px) {
    .service-container{
        height: 40%;
    }
}