.testimonial-container{
    height: 630px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #725C3A;
    /* transform: scale(85%); */
}

.testimonial{
    height: 100%;
    width: 100%;
    font-size: 20px;
    border-radius: 8px;
    padding: 23px;
    border: 1px solid #E5D2B8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.testimonial-header{
    color: #725C3A;
    font-size: 36px;
    text-align: center;
    height: 75px;
}

.testimonial-btn{
    font-size: 24px;
    margin: 2%;
    border: 1px solid #E5D2B8;
    height: 60px;
    width: 70px;
}

.logo-img{
    height: 150px;
}

.profile-photo{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: auto;
}

.name{
    text-align: center;
    font-size: 22px;
    height: 15px;
    /* font-weight: 400; */
    /* font-family: "FuturaHvBTHeavy"; */
}

.quote-img{
    height: 50px;
    width: 50px;
    margin-left:auto;
    margin-right: auto;
}

.testimonial-text{
    padding: 15px;
    font-size: 16px;
    height: 380px;
}

.testimonial-section{
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}

.testimonial-slider-wrapper{
    width: 30%;
    height: 95%;
    overflow: hidden;
    /* position: relative; */
}

.testimonial-slider{
    display: flex;
    height: 100%;
    width: 400%;
    transition: transform 1s ease-in-out;
    /* padding: auto; */
}
