
.grid-title
{
    text-align: center;
    font-size: 36px;
    color: #725C3A;
}
.row {
  display: flex;
  gap:45px;
  justify-content: center;
  margin-bottom:40px;
  margin-top: 20px;
}
.input-btn-container
{
  text-align: center;
}